/*  Complete project details: https://randomnerdtutorials.com/esp32-plot-readings-charts-multiple/  */

html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
h4 {
  color: white;
  margin: 0;
}
p {
  font-size: 1.4rem;
}
.topnav {
  overflow: hidden;
  background-color: #8B2323;
  border-radius: 12px;
}
body {
  background-color: rgb(67,60,75);
  color: rgb(247, 244, 240);
  }
/* body {
  margin: 0;
} */
.content {
  padding: 5%;
}
.card-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078
}
.slider { -webkit-appearance: none; margin: 14px; width: 360px; height: 25px; background: #FFD65C;
     outline: none; -webkit-transition: .2s; transition: opacity .2s;}
     .slider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 35px; height: 35px; background: #003249; cursor: pointer;}
     .slider::-moz-range-thumb { width: 35px; height: 35px; background: #003249; cursor: pointer;
}
.switch {position: relative; display: inline-block; width: 120px; height: 68px;  margin: 10px}
    .switch input {display: none}
    .slider_switch {position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; border-radius: 6px}
    .slider_switch:before {position: absolute; content: ""; height: 52px; width: 52px; left: 8px; bottom: 8px; background-color: #fff; -webkit-transition: .4s; transition: .4s; border-radius: 3px}
    input:checked+.slider_switch {background-color: #b30000}
    input:checked+.slider_switch:before {-webkit-transform: translateX(52px); -ms-transform: translateX(52px); transform: translateX(52px)
}
